.field {
  width: 2rem;
  height: 2rem;
  border: .07rem solid rgb(255, 255, 255);
  background-image: url(https://pic.onlinewebfonts.com/svg/img_498382.png);
  background-size: contain;
  background-color: rgb(78, 182, 241);
}
.field.ship {
  background-color: rgb(192, 208, 224);
  background-image: url(https://www.svgrepo.com/show/111867/ship.svg);
}
.turn-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.hit {
  background-color: rgb(0, 255, 34);
}
.field.hit.ship {
  font-size: 1.5rem;
  color: rgb(255, 102, 0);
  text-align: center;
}
.miss{
  font-size: 1.5rem;
  color: red;
  text-align: center;
}
.player-section, .ai-section {
  display: flex;
  gap: 5rem;
}
.ai-section {
  flex-direction: column;
}
.buttons-container {
  display: flex;
  gap: 4rem;
}
.player-board {
  display: flex;
}
.board-name{
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.ai-board {
  display: flex;
}
.game-contents {
  display: flex;
  gap: 10rem;
  margin: 4rem 10% 6rem 10%;
}
.modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 100ms ease-in-out;
  border: 1px solid black;
  z-index: 8;
  width: 20rem;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
}
.modal-body.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-btn {
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.ai-board.active, .player-board.active{
  transform: scale(1.3);
}
.active{
  transition: transform .5s ease-in-out;
}

.confirm-layout, .change-orientation {

  width: 8rem;
  height: 3rem;
}

.ships-to-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
}

.ship-drag {
  border: 1px solid black;
  display: flex;
}
.ship-body-el {
  border: 1px solid black;
  width: 1.6rem;
  height: 1.6rem;
}
.ship-drag {
  background-color: rgb(192, 208, 224);
  background-image: url(https://www.svgrepo.com/show/111867/ship.svg);
  cursor: pointer;
}
.hold{
  background-color: rgba(192, 208, 224, 0.719);
}
.hovered{
  background:rgba(91, 207, 106, 0.822);
  border: .07rem dashed rgb(197, 69, 69);
}
.invisible{
  display: none;
}