.field {
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}
.ship {
    background-color: red;
}
.hit {
    background-color: rgb(0, 255, 34);
}
.player-board {
    display:flex;
}
.ai-board {
    display:flex;
}
.game-contents {
    display: flex;
    gap: 30px;
}
.modal-body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 100ms ease-in-out;
    border: 1px solid black;
    z-index: 8;
    width: 20rem;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
}
.modal-body.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-btn {

}
#overlay {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;   
    opacity: 0; 
}

#overlay.active {
opacity: 1;
pointer-events: all;
}